CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


cmake-build-*


/.idea/

/.vs/
/out/
/CMakeSettings.json

/CMakeLists.txt.user

# Doxygen
/0x02/Lab_01/html/

# temp
./SDL
/SDL/
/build/
/0x04/html
/0x04/Lab_02/build/
/0x04/Lab_02/html/
/0x04/Lab_02/Lab_02_Android/app/build/
/0x04/Lab_02/Lab_02_Android/.idea/
/0x04/Lab_02/Lab_02_Android/.gradle/
/0x04/Lab_02/Lab_02_Android/app/.cxx/
/0x04/Lab_02/Lab_02_Android/app/.cxx/
/0x04/Lab_02/Lab_02_Android/app/app.iml/
/0x04/Lab_02/Lab_02_Android/app/build/

